<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">.NEM</a>
        </div>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/" >Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/articles/new">New Article</a>
        </li>
    </ul>
    <p class="navbar-text">A Markdown Blog.</p>
</div>
</nav>    