<%- include('../partials/_header') %>
        
            <h3 class="mb-4 header">Create New Article</h3>
            
            <form action="/articles" method="POST">
                <%- include('../partials/_form_fields') %>
            </form>
        </div>

    </body>
</html>