<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>nk nem stack blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>
        <nav class="nav">
            <ul class="navbar-links">
                <li class="brand"><a href="/" >HOME</a></li>
                <li class="navbar-link"><a href="/articles/new" >New Article</a></li>
            </ul>
        </nav>
        <script src="" async defer></script>
        
        <div class="container">
            <h1 class="mb-5 header">The Nem Stack Blog <br><small class="text-muted">A Markdown Blog</small> </h1>
            <h3 class="mb-4 header"><%= article.title %></h3>
            

            
        </div>

    </body>
</html>